{% extends "base.html.twig" %}
{% block body %}
	<ul>
		{% for id, autho in author %}
			<li>
				<a href="{{ path('posts', { 'id' : id }) }}">
					{{ autho.firstname }}
					-
					{{ autho.lastname }}
				</a>
			</li>
		{% endfor %}

	</ul>

{% endblock %}
