{% extends "base.html.twig" %}
{% block body %}
	<ul>
		{% for id, author in authors %}
			<li>
				<a href="{{ path('posts', { 'id' : id }) }}">
					{{ author.firstname }}
					-
					{{ author.lastname }}
				</a>
			</li>
		{% endfor %}

	</ul>

{% endblock %}
